body {
	margin: 0;
}

.border {
	border: 15px solid #FFFFFF;
}
#search {
	margin: 10px 0 5px 320px;
	padding-top: 3px;
	padding-left: 20px;
}

.logo-like {
	height: 20px;
}

.logo-vk-com {
	height: 25px;
	margin-left: 250px;
}

h3 {
	margin: 0;
}
.header {
	height: 42px;
	background: #3d9ce3;
}
.osnovnoi-block {
	width: 960px;
	margin: 10px 250px 50px 250px;
	background: #f5f5f5;
	padding: 20px 30px 20px 30px;
	display: flex;
	font-family: arial;
}
.ul {
	list-style-type: none;
	margin: 20px;
}

.nav {
	padding-right: 50px;
	padding-bottom: 30px;
	background: #f5f5f5;
}
.block-page {
	background: #f5f5f5;
	padding: 0 30px 20px 30px;
	display: flex;
}
.otstupi {
	padding: 0 20px 10px 20px;
}
.block {
	margin: 0px 20px 20px 20px;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background: white;
}
.flex {
	display: flex;
}

.ul a {
	color: red;
}
.ul a {
	color: green;
}

.otstupi button {
	background: #6a98cc;
	color: #f5f5f5;
	font-size: 12px;
	padding: 3px;
	text-align: center;
}

.img-stena {
	width: 350px;
	display: flex;
}

.friends {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: flex;
}

.font-size-friends {
	font-size: 11px;
}

.like-it {
	font-size: 10px;
}

.ava {
	border-radius: 50px;
	height: 20px;
	margin-left: 400px;
}

.friends-otstupi {
	margin-right: 3px;
	margin-left: 3px;
}