body {
	background-image: url(pic4.png);
}

.block {
	margin: 200px 150px 200px 150px;
	overflow: hidden;
}

.picOne {
	height: 300px;
	display: flex;
	overflow: hidden;
	position: absolute;
}



.picTwo {
	height: 300px;
	display: none;
	overflow: hidden;
	position: absolute;
}


.picThree {
	height: 300px;
	display: flex;
	overflow: hidden;
	position: absolute;
}

.buttonLeft {
	display: flex;
	margin: 10px;
	bottom: 80px;
}

.buttonRight {
	display: flex;
	margin: 10px;
	bottom: 100px;
}

.blockImages {
	position: absolute;
	overflow: hidden;
	height: 1000px;
	width: 1000px;
	position: absolute;
}